h1 {
    color: #949990
}
#output {
    border-style: solid;
    width: 175px;
    height: 25px;
    color: #949990;
}
#display {
    border-style: solid;
    width: 175px;
    height: 100px;
    color: #949990;
}

input {
    background-color: #949990;
    color: white;
}
input:hover {
    background-color: white;
    color: #949990;
    border: 2px solid #949990;
}
input{
    width: 132px;
    height:50px;
}
